@import url("misc.css");

:root {
  --gap: 1rem;
  --rounded-corners: calc(var(--gap, 1rem) * 1.5);
  --primary-color: #0456fb;
  --secondary-color: #e5e5e5;
  --third-color: #0498fb;
  --light: #f5f5f5;
  --dark: #000000;
  --border-radius: calc(var(--gap) * 1.5);
  --body-background: #fff;
}

body,
html {
  background-color: var(--body-background);
}

.mainMenu {
  margin: auto;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  width: 100%;
  max-width: 1024px;
}

.app {
  display: flex;
  padding: calc(var(--gap) * 1.5);
  background-color: var(--secondary-color);
  flex-direction: column;
}
